/*
Theme Name: Mobile
Theme URI: http://themehall.com/mobile-theme-mobile-friendly-start
Author: themehall.com
Author URI: http://www.themehall.com
Description: Mobile theme is a omega child WordPress theme built with Bootstrap 3, sleek and powerful mobile first front-end framework for faster and easier web development. Mobile isn't a trend, nor is it even the future, it's the present. If you want to dominate mobile world with mobile-friendly content, then mobile theme is the way to go.
Version: 0.1.6
License: GNU General Public License
License URI: license.txt
Tags: white, light, gray, black, blue, two-columns, one-column, right-sidebar, left-sidebar, flexible-width, full-width-template, theme-options, custom-menu, threaded-comments, sticky-post,featured-image-header, flexible-header, translation-ready, responsive-layout, fluid-layout

Template: omega

(C) 2012-2013 themehall.com.
*/


/*
Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

body {
	padding-top: 30px;
}

::-moz-selection {
	background: #333;
	color: #fff;
}

::selection {
	background: #333;
	color: #fff;
}

ol, ul {
	list-style: none;
}

ul {
	list-style: disc outside;
	margin: 0 0 25px 48px;
	padding: 0;
}

ol {
	list-style-type: decimal;
	margin: 0 0 25px 48px;
}

ol ol {
	list-style: upper-roman;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: upper-alpha;
}

ol ol ol ol ol {
	list-style: lower-alpha;
}

ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}

dl {
	margin: 0 0 25px 5px;
}

dl dt {
	font-weight: bold;
	margin: 10px 0 0 0;
}

dl dd {
	margin: 5px 0 0 24px;
}

blockquote,
blockquote::before {
	
}

blockquote {
	margin: 0;
	padding: 24px 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

pre {
	background-color: #F9F9F9;
	overflow: scroll;
	padding: 0 20px;
	white-space: pre;
}

cite {
	font-style: normal;
}

/* Table
--------------------------------------------- */

table {
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 25px;
}

table caption {
	margin: 0 0 5px;
	font-size: 15px;
	font-variant: small-caps;
}

th,td {
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.widget th,
.widget td {
	padding: 5px 2px;
}

th {
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background: #f5f5f5;
	font-size: 15px;
	font-weight: normal;
	text-align: left;
}

td {
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}


/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video {
	max-width: 100%;
}

img {
	height: auto;
	width: auto\9; /* IE8 */
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background: #fff;
	border: 1px solid #ddd;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 16px;
	max-width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #aaa;
	outline: none;
}

::-moz-placeholder {
	color: #999;
}

::-webkit-input-placeholder {
	color: #999;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #333;
	border: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	letter-spacing: 1px;
	padding: 16px 24px;
	text-transform: uppercase;
	width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"] {
	background: #111;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}


/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */
body.admin-bar .navbar {
	top: 28px
}

body {
  
}

.wrap {
	margin: 0 auto;
	max-width: 980px;
}

.site-inner {	
	clear: both;
	padding-top: 40px;
}

/* Column Widths and Positions
--------------------------------------------- */

/* Content */

.content {
	float: left;
}

.layout-2c-r .content {
	float: right;
}

.layout-2c-l .content {
	float: left;
}

.layout-1c .content {
	width: 100%;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 300px;
}

.layout-1c .sidebar-primary {
	display: none;
}

.layout-2c-r .sidebar-primary {
	float: left;
}

/* WordPress
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.search-form input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

.sticky {
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone {
	margin-bottom: 12px;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

.wp-caption {
	max-width: 100%;
}

img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.gallery {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0 auto 20px;
}

.gallery .gallery-row {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0;
}

.gallery .gallery-item {
	overflow: hidden;
	float: left;
	margin: 0 0 16px;
	text-align: center;
	list-style: none;
	padding: 0;
}

.gallery .gallery-item .gallery-icon {
	position:relative;
}

.gallery .gallery-item .gallery-icon img {
	width: auto;
	max-width: 89%;
	height: auto;
	padding: 5%;
	margin: 0 auto;
}

.gallery-caption {
	margin: 0 10px;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar th {
	text-align: center;
	font-weight: bold;
}
.widget_calendar td {
	text-align: center;
}

.widget_search input.search-field {
	width: 100%;
}

/* Headings
--------------------------------------------- */

.entry-title {
	font-size: 36px;
	word-wrap: break-word;
	line-height: 1.2;
}

.entry-title a,
.sidebar .widgettitle a {
	color: #333;
}

.entry-title a:hover {
	color: #666;
}

.archive-title {
	font-size: 20px;
	margin-bottom: 24px;
}

/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Entries
--------------------------------------------- */

.entry, .hentry {
	margin-bottom: 40px;	
}

.entry-content {
	word-wrap: break-word;
}

.entry-content img.wp-post-image {
	margin-bottom: 15px;
}

.entry-content img.medium,
.entry-content img.thumbnail {
	float: left;
	margin: 7px 24px 24px 0;;
}

.entry-content .attachment a,
.entry-content .gallery a {
	border: none;
}

.entry-content .wp-caption p {
	margin-bottom: 0;
}

.entry-meta {
	clear: both;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	border-top: 1px dashed #e5e5e5;
	margin: 0;
	padding: 8px 0px 8px;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

.entry-categories,
.entry-tags {
	display: block;
}

/* Entry Navigation
--------------------------------------------- */

.navigation {
	clear: both;
	font-size: 14px;
	padding:0 0 40px;
}

.entry .navigation a {
	border-bottom: 1px solid #ddd;
}

.navigation li {
	display: inline;
}

.navigation li a {
	background: #333;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
}


/* Pagination
--------------------------------------------- */

.pagination .page-numbers {
	padding: 8px 12px;
	border: 1px solid #F5F5F5;
    border-radius: 25px 25px 25px 25px;
}

.pagination .current {
	background-color: #F5F5F5;
}


/* Comments
--------------------------------------------- */

.entry-comments,
#respond {
	background: #fff;
	border-radius: 3px;
}

.entry-comments,
.ping-list,
#respond {
	clear: both;
	margin-bottom: 40px;
}

.entry-comments a,
#respond a {
	border-bottom: 1px solid #ddd;
}

.entry-comments .comment-author {
	margin: 10px 0 10px;
}

.entry-comments .comment-content {
	clear: both;
}

#respond input[type="email"],
#respond input[type="text"],
#respond input[type="url"] {
	width: 50%
}

#respond label {
	display: block;
	margin-right: 12px;
}

ol.comment-list {
	margin: 0;
	padding: 0;
}

.comment-list li.ping, .comment-list li.comment {
	list-style-type: none;
}

.comment-list .comment-content > ol, 
.comment-list .comment-content > ul {
	margin-bottom: 24px;
}

li.comment,
li.pingback {
	border: 2px solid #fff;
	border-right: none;
}

li.comment .comment-item,
li.pingback .comment-item {
	background: #f5f5f5;
	margin: 12px 0;
	padding: 32px;
}

li.comment ol {
	margin: 0
}

.comment .avatar ,
.pingback .avatar{
	margin: 0 16px 24px 0;
}

.bypostauthor {
}

.form-allowed-tags {
	background: #f5f5f5;
	font-size: 14px;
	padding: 24px;
}

.form-allowed-tags code {
	white-space: normal;
	background: none;
	color: inherit;
}

.comment-form-comment textarea {
	width: 100%;
}

/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	padding-bottom: 30px;
}

.widget-title {
	word-wrap: break-word;
}

.sidebar ul,
.footer-widgets ul {
	margin: 0;
}

.sidebar li,
.footer-widgets li {
	list-style-type: none;
	margin-bottom: 6px;
	padding: 0;
	word-wrap: break-word;
}

.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	padding: 20px 0 10px;
}

.sidebar .search-form {
	width: 100%;
}

/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	border-top: 1px solid #F5F5F5;
	padding: 40px 0 16px;
}

.footer-widgets .widget {
    margin-bottom: 24px;
}

.footer-widgets .col-3 .widget-area {
	float: left;
	padding: 0 3% 0 0;
    width: 33%;
}

.footer-widgets .col-4 .widget-area {
	float: left;
	padding: 0 3% 0 0;
    width: 25%;
}


.footer-widgets .widget-area:last-child {
	padding: 0;
	float: right;
}

/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	border-top: 1px dashed #e5e5e5;
	padding: 40px 0;
	text-align: center;
}

.site-footer p {
	margin: 0;
}

p.copyright {
	font-size: inherit;
}

/*
Plugins Style
---------------------------------------------------------------------------------------------------- */

/* Jetpack
--------------------------------------------- */
input#subscribe-field {
	padding: 16px !important;
}